.header__logo{
    width: 100px;
    margin-right: 20px;

}
.header{
    height: 60px;
    display:flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 0px 20px ;
}
.header_bottom{
    background-color: #232f3e ;
}
.header_bottom ul{
    list-style: none;
    padding: 5px 30px 10px 30px;
    margin: 0;
    display: flex;
    align-items: center;
}
.header_bottom ul li{
    margin-right: 20px;
    color: #fff;
    font-size: 14 px;
    font-weight: 500;
}
.header__search{
    display: flex;
    flex:1;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}
.header__search input{
    flex: 1;
    height: 18px;
    padding: 10px;
    border: 0;
    outline: 0 ;
    margin: 10px;

}
.header__searchicon{
    padding: 10px;
    height: 20px;
    background-color: hsl(8, 58%, 53%);

    
}
.header__nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.header__option{
    display: flex ;
    margin-left: 10px;
    margin-right: 10px  ;
    flex-direction: column;
}
.header__optionone{
    font-size: 10px;
    color: #fff;
}
.header__optiontwo{
    display: block;
    font-size: 13px;
    font-weight: 800;
    color: #e81279;
    cursor: pointer;
     
}
.header__shoppingcart{
    display: flex;
    color: #0fddd6;
    margin-left: 10px;
    margin-right: 10px;
}
.header__shoppingcart a{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.header__shoppingcart a span {
    margin-top: -20px;
    width: 20px;

}



 